---
import "../scss/index.scss";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/logo.png" />
		<meta name="viewport" content="width=device-width; initial-scale=1; viewport-fit=cover">
		<meta name="generator" content={Astro.generator} />
		<script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
		<title>cutebox</title>
	</head>
	<body class="bg-dark">
		<slot />
	</body>
</html>
